@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(58, 55, 55);
}

:root {
    --gBlack: #14212e;
    --whiteF: #FAF0F0;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hd1 {
    width: 100%;
    height: 19vh;
    background-color: var(--gBlack);
    display: flex;

}

.logoContainer {
    width: 30vw;
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer h1 {
    font-size: 42pt;
    color: var(--whiteF);
    font-family: "Lato", sans-serif;
}

li,
li ul {
    text-decoration: none;
    list-style: none;
}

.mn1 {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: var(--whiteF);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Noticias */

.containerNoticias {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

#noticia {
    transition: 0.3s ease-in-out;
}

#noticia:hover {
    transform: scale(1.009);
    border: 1px solid black;
}

#logo {
    background-color: white;
    border-radius: 99999px;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    background-image: url("../img/News.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}
#logo:hover{
    transform: scale(1.05);
}
.contMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#tit1{
    width: 90%;
    font-size: 26pt;
    margin-left: 5.3vw;
    margin-bottom: 1vw;
}
#hrT{
    border-top: 1px solid rgba(128, 128, 128, 0.247);
    width: 80vw;
}
