@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(58, 55, 55);
    font-family: "Lato", sans-serif;
}

:root {
    --gBlack: #14212e;
    --whiteF: #FAF0F0;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: var(--whiteF);
}

.sideSolid {
    width: 50vw;
    height: 100vh;
    background-color: #1e1b4b;
    ;
}

.formContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin {
    width: 52%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
    gap: 10px;
    border-radius: 5px;
    
}

input {
    width: 80%;
    height: 8%;
    border: none;
    background-color: #f4f4f4;
    padding: 10px;
    transition: 0.4s ease-in-out;
}

input:focus-within {
    outline: none;
    background-color: #dddddd;
}

.submitLog {
    width: 80%;
    height: 10%;
    border: none;
    background-color: #1e1b4b;
    font-size: large;
    color: #d4d4d4;
    margin-top: 10px;
}

label {
    width: 80%;
    text-align: start;
}
form h1{
    margin-bottom: 10px;
}